<div id="navbar" >
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/canvasbird/Canvas Bird.svg" width="38" height="38" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" fragment="main">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- href="#projects"  -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" fragment="projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" fragment="join-us">Join Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" fragment="contribute">Contribute</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" fragment="contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<section id="team">
  <div class="container">
  <h3 class=" mb-5 title text-ani">Team Members</h3>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-6" >
        <div class="member"> <img src="https://avatars0.githubusercontent.com/u/32712438?s=400&v=4" class="img-fluid" alt="">
            <div class="member-info">
                <div class="member-info-content">
                    <h4>Akshay Sujith</h4> <span>Developer</span>
                    <div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i class="fa fa-facebook"></i></a><a href=""><i class="fa fa-linkedin"></i></a> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
      <div class="member"> <img src="https://avatars0.githubusercontent.com/u/44888949?s=400&u=8f9bdcd48a2c88f0f29e642096963f510c494adc&v=4" class="img-fluid" alt="">

            <div class="member-info">
                <div class="member-info-content">
                    <h4>Kajol Kumari</h4> <span>Developer</span>
                    <div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i class="fa fa-facebook"></i></a>  <a href=""><i class="fa fa-linkedin"></i></a> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-6" >
      <div class="member"> <img src="https://avatars1.githubusercontent.com/u/31726036?s=400&u=0718acf01040da3a43822841035fd3f8ea13766c&v=4" class="img-fluid" alt="">
            <div class="member-info">
                <div class="member-info-content">
                    <h4>Saikiran Reddy</h4> <span>Developer</span>
                    <div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i class="fa fa-facebook"></i></a> <a href=""><i class="fa fa-linkedin"></i></a> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-6" >
      <div class="member"> <img src="https://avatars2.githubusercontent.com/u/57140143?s=400&u=e484f04a74d52e52026b9c985ccf6be5d6942be0&v=4" class="img-fluid" alt="">
            <div class="member-info">
                <div class="member-info-content">
                    <h4>Rachitt Shah</h4> <span>Developer</span>
                    <div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i class="fa fa-facebook"></i></a> <a href=""><i class="fa fa-linkedin"></i></a> </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    <h3 class=" mt-5 mb-5 title text-ani">Top Contributors</h3>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-6" >
        <div class="member"> <img src="https://avatars2.githubusercontent.com/u/33013583?s=400&u=6d59b46c65d4f7b868b4c9a4af1298d435d09e80&v=4" class="img-fluid" alt="">
            <div class="member-info">
                <div class="member-info-content">
                    <h4>Akash Madduru</h4> <span>Developer</span>
                    <div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i class="fa fa-facebook"></i></a><a href=""><i class="fa fa-linkedin"></i></a> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
      <div class="member"> <img src="https://avatars2.githubusercontent.com/u/33155848?s=400&u=356662b0a442600bca1342da1233d06c09fda5c2&v=4" class="img-fluid" alt="">

            <div class="member-info">
                <div class="member-info-content">
                    <h4>Navaneeth Nivol</h4> <span>Developer</span>
                    <div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i class="fa fa-facebook"></i></a>  <a href=""><i class="fa fa-linkedin"></i></a> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-6" >
      <div class="member"> <img src="https://avatars1.githubusercontent.com/u/31726036?s=400&u=0718acf01040da3a43822841035fd3f8ea13766c&v=4" class="img-fluid" alt="">
            <div class="member-info">
                <div class="member-info-content">
                    <h4>Saikiran Reddy</h4> <span>Developer</span>
                    <div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i class="fa fa-facebook"></i></a> <a href=""><i class="fa fa-linkedin"></i></a> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-6" >
      <div class="member"> <img src="https://avatars2.githubusercontent.com/u/41658324?s=400&u=bcd49ba9c2af0c3368c52d53b4d32b70045c432b&v=4" class="img-fluid" alt="">
            <div class="member-info">
                <div class="member-info-content">
                    <h4>Asish Raju</h4> <span>Developer</span>
                    <div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i class="fa fa-facebook"></i></a> <a href=""><i class="fa fa-linkedin"></i></a> </div>
                </div>
            </div>
        </div>
    </div>

    </div>
  </div>
</section>


