<footer>
  <div class="container">
    <div class="row pt-2">
      <div class="col-sm-4 col-md-4 margin-top">
        <p class="image-logo mb-2">
          <img src="../../../assets/canvasbird/CanvasBird1000x1000.png" width="100" alt="Logo Canvasbird">
          </p>
        <p>Canvasbird is an opensource organization where we build real-time applications to enhance the end-user experience.</p>
      </div>
      <div class="col-md-4"></div>
      <div class="col-sm-2 col-md-2 margin-top">
        <ul class="footer-list">
          <li>
            <strong>Become a part!</strong>
          </li>
          <li><a target="_blank" href="https://gitter.im/canvasbird/" style="color: black;"><i class="fab fa-gitter"></i>&nbsp;Gitter</a></li>
          <li><a target="_blank" href="https://join.slack.com/t/canvasbird-workspace/shared_invite/zt-kdh1jv5x-_UH2fPZE5FIt4ZaHy2M2TQ" style="color: black;"><i class="fab fa-slack"></i>&nbsp;Slack</a></li>
        </ul>
      </div>

      <div class="col-sm-2 col-md-2 margin-top">
        <ul class="footer-list">
          <li><strong>Follow us!</strong></li>
          <li><a target="_blank" href='https://twitter.com/canvsboard' style="color: black;"><i class="fab fa-twitter"></i>&nbsp;Twitter</a></li>
          <li><a target="_blank" href='https://www.linkedin.com/company/canvasbird' style="color: black;"><i class="fab fa-linkedin-in"></i>&nbsp;LinkedIn</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>

      <div class="mb-0">
        <b><p>Copyright &copy; 2020 Canvasbird. All rights reserved.</p></b>
      </div>
    </div>
  </div>
</footer>
