<section  id="main" >
  <div class="container" >
    <div class="row">
      <div class="col-md-6 col-sm-12 left">
        <img  src="../../../assets/canvasbird/CanvasBird1000x1000.png" class="img-fluid logo shadow" alt="logo">
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="canvasbird">
          <h3 class="font text-ani">Canvasbird Open Source</h3>
          <h5 class="font-tag">Building free open source softwares</h5>
          <a routerLink="/home" fragment="know-more"><button class="btn know-more-btn">KNOW MORE</button></a>
          <div class="arrow bounce">
            <a class="fa fa-arrow-down fa-2x" routerLink="/home" fragment="know-more"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section  id="know-more">
  <div class="container" >
    <div class="row">
      <div class=" col-lg-9 col-12 know-more border-cb-radius20 shadow mx-auto">
        <h3 class="heading2 text-ani p-2"><strong>Who are we?</strong></h3>
        <p class="know-more-text px-2">
         Canvasbird is a young open source organisation started in 2020 by a group of students
         with the motive of building free open source softwares to solve real-world problems.
        </p>
      </div>
      </div>
  </div>


    <div class="container">
      <div class="row cb-margin-top60">
        <h1 align="center" class="mx-auto px-2 roboto" >Open Source programs we have been associated with</h1>
      </div>

      <div class="row mx-auto">
        
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="cb-box">
            <img src="assets/Open Source Program/WOC.jpg" class="img-fluid shadow p-2" alt="WOC" />
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="cb-box">
            <img src="assets/Open Source Program/script.jpg" class="img-fluid shadow p-2" alt="SWOC" />
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="cb-box">
            <img src="assets/Open Source Program/nwoc.jpg" class="img-fluid shadow p-2" alt="NWOC" />
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 p-2">
          <div class="cb-box">
            <img src="assets/Open Source Program/dwoc.png" class="img-fluid shadow" alt="DWOC" />
          </div>
        </div>
      </div>

      <div class="row">

        <div class="mx-auto col-xs-12 col-sm-6 col-md-3">
          <div class="cb-box">
            <img src="assets/Open Source Program/kwoc.jpg" class="img-fluid p-2 shadow" alt="KWOC" />
          </div>
        </div>
      </div>
    </div>

</section>

<!-- Projects -->
<section id="projects">
  <div class="container" >
    <div class="row mt-5">
      <h1 align="center" class="mx-auto px-2" >Projects</h1>
    </div>
    <div class="row">
    <div class="card-cb text-center mx-auto">
      <img class="img-responsive pt-4" width="80%" src="../../../assets/home/g3950.png" alt="">
      <div class="container-box mt-3">
        <h4><b>Canvasboard</b></h4> 
        <p>An interactive board with plugins focusing on replacing the need of multiple platforms for teaching, presenting, managing or explaining your ideas 🌎</p> 
      </div>
      <div class="mb-3">
        <button class="btn btn-outline-dark mx-1">Github</button>
        <button class="btn btn-outline-primary mx-1">Website</button>
      </div>
    </div>
      </div>
    </div>
</section>

<!-- Join Us -->
<section id="join-us">
  <div class="container">
    <div class="row mt-5">
      <h1 align="center" class="mx-auto px-2" >Join Community</h1>
    </div>
    <div class="row">
      <div class="col-sm-6 mx-auto mt-3">
        <div class="text-center">
          <img src="https://img.shields.io/badge/chat-on_slack-purple.svg?style=for-the-badge&logo=slack" alt="">
          <p>Or</p>
          <p>Email us at <strong>support@canvasbird.org</strong></p>
        </div>

      </div>
        <!-- <div class="col-sm-6">

        </div>
        <div class="col-md-12 col-sm-12 col-12" style="display: flex; justify-content: center;">

          <a target="_blank" href="https://join.slack.com/t/canvasbird-workspace/shared_invite/zt-kdh1jv5x-_UH2fPZE5FIt4ZaHy2M2TQ"><img src="https://slack.com/favicon.ico" width="150px" class="img-fluid" alt="Slack"></a>
        </div> -->
      </div>

    </div>

</section>



<!-- Contribute -->
<!-- <section id="contribute">
  <div class="row mt-5">
    <h3 align="center" class="mx-auto px-2" >Interested In contributing?</h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12" style="display: flex; justify-content: center;">
        <a target="_blank" href="https://github.com/canvasbird/canvasboard/graphs/contributors">
          <img src="https://contrib.rocks/image?repo=canvasbird/canvasboard" class="img-fluid" alt="Slack">
        </a>

      </div>
    </div>
      <div class="know-more-text mt-4">
        Open source❤️ has gained huge popularity in the field of IT in recent years and it
        embraces strong values of community, collaboration, and transparency. Contributions
        are what make the open-source community an amazing place to learn, inspire, and create.
        Please consider contributing to the project, with your ideas, your artwork, and your code.
      </div>
      <div class="button mt-4">
        <a href="https://github.com/Canvasbird/" ><button class="btn  know-more-btn">Become a Contributor</button></a>
      </div>



  </div>

</section> -->

<!-- Contact -->
<!-- <section id="contact">
  <div class="container">
  <div class="contact">
    <div class="contact-box">
      <h3 class="title text-ani " style="display: flex; justify-content: center;">Contact Us</h3>
      <form action="#" method="" id="contact_form">
        <div class="name">
          <label for="name"></label>
          <input type="text" placeholder="name" name="name" id="name_input" required>
        </div>
        <div class="email">
          <label for="email"></label>
          <input type="email" placeholder="e-mail" name="email" id="email_input" required>
        </div>
        <div class="message">
          <label for="message"></label>
          <textarea name="message" placeholder="message" id="message_input" cols="30" rows="5" required></textarea>
        </div>
        <div class="submit">
          <button type="submit" class="btn know-more-btn">Submit</button>
        </div>



      </form>
    </div>
    </div>
  </div>
</section> -->

<section #footer>

</section>