#main {
  .img-logo{
    width:70%;
  }

  .font {
    // font-family: 'Harmattan', sans-serif;
    // font-weight: 700;
    // font-size: 90%;
    font-size: calc(2.6vw + 2.6vh);;
  }
}

#know-more{
  .border-rad {
    border-radius:10px;
  }
}