<section  id="main" >
  <div class="container" >
    <div class="row">
      <div class="col-md-6 col-sm-12 left">
        <img  src="../../../assets/canvasbird/CanvasBird1000x1000.png" class="img-fluid logo" alt="logo">
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="canvasbird">
          <h3 class="font text-ani">Canvasbird Open Source</h3>
          <h5 class="font-tag">Building free open source softwares</h5>
          <a routerLink="/home" fragment="know-more"><button class="btn know-more-btn">KNOW MORE</button></a>
          <div class="arrow bounce">
            <a class="fa fa-arrow-down fa-2x" routerLink="/home" fragment="know-more"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section  id="know-more">
  <div class="container" >
    <div class="row">
      <div class=" col-lg-12 col-12 know-more border-rad shadow">
        <h3 class="heading text-ani">Who are we?</h3>
        <br>
        <p class="know-more-text">
         Canvasbird is a young open source organisation started in 2020 by a group of students
         with the motive of building free open source softwares to solve real-world problems.
        </p>
      </div>
      </div>
  </div>


    <div class="container">
      <div class="row " >
        <h3 class=" mt-5 title text-ani" >Programs we got selected</h3>
        <div class="col-lg-3 col-sm-6 col-6">
        <div class="programs">
          <img src="assets/Open Source Program/kwoc.jpg" class="img-fluid" alt="KWOC" />
          <div class="overlay">
          <div class="button"><a target="_blank" href="https://kwoc.kossiitkgp.org/"> Open  </a></div>
        </div>
        </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-6">
          <div class="programs">
            <img src="assets/Open Source Program/nwoc.jpg" class="img-fluid" alt="NWOC" />
            <div class="overlay">
            <div class="button"><a target="_blank" href="https://njackwinterofcode.github.io/"> Open  </a></div>
          </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-6">
          <div class="programs">
            <img src="assets/Open Source Program/script.jpg" class="img-fluid" alt="SWOC" />
            <div class="overlay">
            <div class="button"><a target="_blank" href="https://swoc.tech/"> Open  </a></div>
          </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-6">
          <div class="programs">
            <img src="assets/Open Source Program/WOC.jpg" class="img-fluid" alt="WOC" />
            <div class="overlay">
            <div class="button"><a href="https://winterofcode.com/"> Open  </a></div>
          </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-6">
          <div class="programs">
            <img src="assets/Open Source Program/dwoc.png" class="img-fluid" alt="DWOC" />

            <div class="overlay">
            <div class="button"><a target="_blank" href="https://devscript.tech/woc/"> Open  </a></div>
          </div>
          </div>
        </div>
      </div>
    </div>

</section>

<hr>

<!-- Projects -->
<section id="projects">
  <div class="container " >
    <div class="row">
      <h3 class="mb-5 title text-ani" >Projects</h3>

      <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="display: flex; justify-content: center;">
        <div class="project-hovereffect">
          <img class="img-responsive" height="100%" src="../../../assets/canvasbird/Canvas Bird.svg" alt="">
            <div class="projects">
              <div class="canvas-title">
                <h2 class="text-ani">CanvasBoard</h2>
                <p>
                  An interactive board with plugins focusing on replacing the need of multiple platforms for teaching, presenting, managing or explaining your ideas 🌎
                </p>
              </div>
              <div class="icons">
                <a target="_blank" href="https://github.com/Canvasbird/canvasboard"><button class="btn know-more-btn"><i class="fa fa-github" style="font-size: 20px;"></i> Github</button></a>
                <a target="_blank" href="https://canvasboard.live"><button class="btn know-more-btn"><i class="fa fa-chevron-circle-right"></i> Open</button></a>
              </div>
            </div>
        </div>
    </div>
      </div>
    </div>
</section>

<!-- Join Us -->
<section id="join-us">
  <div class="container">
    <div class="row">
      <h3 class="mb-5 heading text-ani" >join us</h3>
      <p class="know-more-text mb-5">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni corrupti molestias iusto doloremque asperiores consequuntur, perferendis quia, ad temporibus dolores iste, totam impedit delectus laudantium architecto officia nisi laborum id!
     </p>
        <div class="col-md-12 col-sm-12 col-12" style="display: flex; justify-content: center;">

          <a target="_blank" href="https://join.slack.com/t/canvasbird-workspace/shared_invite/zt-kdh1jv5x-_UH2fPZE5FIt4ZaHy2M2TQ"><img src="https://slack.com/favicon.ico" width="150px" class="img-fluid" alt="Slack"></a>
        </div>
      </div>

    </div>





</section>



<!-- Contribute -->
<section id="contribute">
  <div class="container">
    <h3 class="title text-ani mb-5">Interested In contributing?</h3>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12" style="display: flex; justify-content: center;">
        <a target="_blank" href="https://github.com/canvasbird/canvasboard/graphs/contributors">
          <img src="https://contrib.rocks/image?repo=canvasbird/canvasboard" class="img-fluid" alt="Slack">
        </a>

      </div>
    </div>
      <div class="know-more-text mt-4">
        Open source❤️ has gained huge popularity in the field of IT in recent years and it
        embraces strong values of community, collaboration, and transparency. Contributions
        are what make the open-source community an amazing place to learn, inspire, and create.
        Please consider contributing to the project, with your ideas, your artwork, and your code.
      </div>
      <div class="button mt-4">
        <a href="https://github.com/Canvasbird/" ><button class="btn  know-more-btn">Become a Contributor</button></a>
      </div>



  </div>

</section>

<!-- Contact -->
<section id="contact">
  <div class="container">
  <div class="contact">
    <div class="contact-box">
      <h3 class="title text-ani " style="display: flex; justify-content: center;">Contact Us</h3>
      <form action="#" method="" id="contact_form">
        <div class="name">
          <label for="name"></label>
          <input type="text" placeholder="name" name="name" id="name_input" required>
        </div>
        <div class="email">
          <label for="email"></label>
          <input type="email" placeholder="e-mail" name="email" id="email_input" required>
        </div>
        <div class="message">
          <label for="message"></label>
          <textarea name="message" placeholder="message" id="message_input" cols="30" rows="5" required></textarea>
        </div>
        <div class="submit">
          <button type="submit" class="btn know-more-btn">Submit</button>
        </div>



      </form>
    </div>
    </div>
  </div>
</section>
