<section id="navbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/home/g3950.png" width="38" height="38" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Join Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contribute</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</section>

<section id="main">
  <div class="container">
    <div class="row h90">
      <div class="col-12 mx-auto my-auto">
        <div class="text-center">
          <h3 class="font">Canvasbird Open Source</h3>
          <h5>Building free open source softwares</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="know-more">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mx-auto text-center border-rad">
        <h3 class="mt-2">Know More...</h3>
        <br>
        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos explicabo dolorum expedita ullam enim, blanditiis
          aspernatur quae nostrum quia. Vero atque enim dolore nemo iusto culpa eos minima omnis reiciendis neque! Optio
          dolore ex voluptas dolorum officia deleniti aut possimus veniam et assumenda quasi, consectetur quas sed aliquid
          illo labore.</p>
      </div>
    </div>
  </div>
</section>

<!-- Projects -->
<section id="projects">

</section>

<!-- Join Us -->
<section id="join-us">

</section>

<!-- Contribute -->
<section id="contribute">

</section>

<!-- Contact -->
<section id="contact">

</section>