/* You can add global styles to this file, and also import other style files */
.h100 {
  height: 100vh;
}

.h70 {
  height: 70vh;
}
.h90 {
  height: 90vh;
}

.h50 {
  height: 50vh;
}

.h60 {
  height: 60vh;
}

.h40 {
  height: 40vh;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}